.App {
    padding: 50px;
    display: flex;
    margin-right: 100px;
}
.Shoplist{
    margin-right: 100px;
}

input:focus {
    outline: 0;
    outline-offset: 0;
}

.errorInput{
border:2px solid red;
}

.errorMessage {
color:red;
}


.btnActive {
    background-color: greenyellow;
}

.goodInBacket {
    opacity: 0.5;
}