.App {
    padding: 50px;
    display: grid;
  grid-template-columns: 4fr 4fr 4fr;
}
/*.Shoplist{*/
/*    width:100%;*/
/*}*/

input:focus {
    outline: 0;
    outline-offset: 0;
}

.errorInput{
border:2px solid red;
}

.errorMessage {
color:red;
}


.btnActive {
    background-color: greenyellow;
}

.goodInBacket {
    opacity: 0.5;
}